#header {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
  }
 
header {
    position: fixed; /*** ← fixedで固定 ***/
    width: 100%; 
    height: 60px; 
    background: #ffffff00; 
    padding: 20px 60px; 
    box-sizing: border-box;
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
  
   /* ロゴとメニューを横並びにする */
    display: flex; 
    justify-content:space-between;
}

header .nav .menu {
    display: flex; 
}

header .nav .menu li {
    list-style: none; 
    margin-left: 40px;
}

header .nav .menu li a{
   color: #B78D4A;
   font-weight:bold;
   text-decoration: none;
}
h1 a {
    color: #B78D4A;
    font-size: 20px;
    text-decoration: none;
    
}





.container {
    width: 100%;
    height: auto;
    position: relative;
}

.container video {
    width: 100%;
    height: auto;
}

p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    font-size: 55px;
    font-family: "MS 明朝", serif;
    color: rgb(255, 255, 255);
}

p2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-family: "MS 明朝", serif;
    color: rgb(255, 255, 255);

}

body {
    background-color: #000000;
    color: #000000;
}

.saikou {
    margin-top: 100px;
    text-align: center;
}

p3 {
    display: inline-block;
    font-size: 70px;
    font-family: "MS 明朝", serif;
    color: rgb(255, 255, 255);
}

.usi {
    text-align: center;
    margin-top: 100px;
}

.usi img {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.simesi {
    margin-top: 100px;
    text-align: center;
}

p4 {
    display: inline-block;
    font-size: 70px;
    font-family: "MS 明朝", serif;
    color: rgb(255, 255, 255);
}

.switch_image {

    text-align: center;
    margin-top: 200px;
    
}
.switch_image img {
    
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;


}
.switch_image {
    position: relative;
}

.switch_image img {
    transition: opacity 0.5s;
}
.switch_image:hover img:first-of-type {
    opacity: 0;
}
.switch_image img:last-of-type {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.switch_image:hover img:last-of-type {
    opacity: 1;
}
.an {
    margin-top: 400px;
    text-align: center;
}

p5 {
    display: inline-block;
    font-size: 70px;
    font-family: "MS 明朝", serif;
    color: rgb(255, 255, 255);
}
.anke-to {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 100px;
}
.tyuui {
    margin-top: 0px;
    text-align: center;
    margin-left: 450px;
}
p6 {
    display: inline-block;
    font-size: 20px;
    font-family: "MS 明朝", serif;
    color: rgb(255, 255, 255);
}
.phonto {
    text-align: center;
    margin-top: 100px;
}

.phonto img {
    display: inline-block;
    width: 900px;
    height: auto;
    max-width: 100%;
}
.omatase {
    margin-top: 0px;
    text-align: center;
 
}
p7 {
    display: inline-block;
    font-size: 20px;
    font-family: "MS 明朝", serif;
    color: rgb(255, 255, 255);
}
.zairyou {
    text-align: center;
    margin-top: -350px;
    margin-left: 100px;
}

.zairyou img {
    display: inline-block;
    width: 1300px;
    height: auto;
    max-width: 100%;
}
.recipe {
    text-align: center;
    margin-top: -400px;
    margin-left: 0px;
}

.recipe img {
    display: inline-block;
    width: 1000px;
    height: auto;
    max-width: 100%;
}


